@import url("https://fonts.googleapis.com/css2?family=Anton&family=Courgette&family=Roboto:wght@400;900&display=swap");
/** {
  margin: 0;
  padding: 0;
}

.bod {
  background-color: #03bc0b;
}

.container {
  width: 75%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
}

.titleDiv {
  margin-bottom: 8%;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-thickness: 15%;
  text-decoration-color: white;
}

.btnDiv {
  display: flex;
  justify-content: center;
}

.title {
  color: #1d2936;
  font-family: "Anton", sans-serif;
  font-size: 150px;
}

.button {
  background-color: #68aaf1;
  border: none;
  color: #1d2936;
  font-family: "Roboto", sans-serif;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 40px;
}

.button2 {
  font-size: 50px;
  border-radius: 20px;
}
.info {
  color: #1d2936;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 35px;
}

.infoDiv {
  margin-bottom: 5%;
  text-align: center;
}

iframe {
  border-style: solid;
  border-color: #68aaf1;
  border-width: 15px;
  border-radius: 25px;
}

.placeimg {
  position: absolute;
  top: 50vh;
  left: 5%;
  transform: translate(-50%, -50%);
}

.placeimg2 {
  position: absolute;
  top: 50vh;
  left: 95%;
  transform: translate(-50%, -50%);
}

.emailInfo {
  color: #ffffff;
  font-size: 50px;
  font-family: "Courgette", cursive;
  text-align: center;
  padding: 5%;
}

.goaround {
  border-style: dashed solid;
  border-width: 10px;
  border-radius: 30px;
}*/
body{
  background-color: #03bc0b;
}

.display-1{
  font-family: "Anton", sans-serif;
  color: #1d2936;
}

.btn-info {
  font-family: "Roboto", sans-serif !important;
  background-color: #68aaf1 !important;
  border-color: #68aaf1 !important;
  color: #1d2936 !important;
}
.btn-info:hover,
.btn-info:active,
.btn-info:visited,
.btn-info:focus {
  background-color: #6fb5ff !important;
  border-color: #6fb5ff !important;
}

p{
  font-family: "Roboto", sans-serif;
  color: #1d2936;
}

.courgette{
  font-family: "Courgette", cursive;
  color: white;
}

.borderWhite{
  border-color: white !important;
  border-style: dashed solid !important;
  border-width: 0.625em !important;
  border-radius: 1.875em !important;
}

.borderBlue{
   border-color: #68aaf1 !important;
  border-style: solid !important;
  border-width: 15px !important;
  border-radius: 25px !important;
}