{% extends 'base.html' %} 

{% block head %} 

{% endblock %} 
{% block body %}
<div class="container">
  <div class="box">
    <div class="infoDiv">
      <p class="info">
        VHHS hacks is a club for creative coding. 
        What is creative coding? It's basically 
        programing but with ✨pizzazz✨. This includes 
        anything from a simple website about why kittens
        are much cuter than puppies, to a making a program 
        that uses A.I to identify every kitten in a photo! 
      </p>
    </div>

    <div class="btnDiv">
      <button
        class="button button2"
        onclick="window.location.href='{{url_for('moreInfo')}}';"
      >
        Click 4 more info
      </button>
    </div>
  </div>
</div>
{% endblock %}