{% extends 'base.html' %}

{% block head %} 
{% endblock %} 

{% block body %}
<div class="container">
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/dQw4w9WgXcQ?controls=0&autoplay=1"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>
<div class="container2">
  <p class="emailInfo">
    Email jgonzalez1604@mymail.lausd.net, ravila0053@mymail.lausd.net, or mmvanbaal@gmail.com. Or come to room to 229 to learn more!!!
  </p>
</div>
{% endblock %}