{% extends 'base.html' %}

{% block head %} 
{% endblock %} 

{% block body %}
<div class="placeimg">
  <img src="../static/images/darrow.svg" alt="down_arrow" />
</div>
<div class="placeimg2">
  <img src="../static/images/darrow.svg" alt="down_arrow" />
</div>
<div class="container">
  <iframe
    width="840"
    height="472.5"
    src="https://www.youtube.com/embed/dQw4w9WgXcQ?controls=0&autoplay=1"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>

<div class="container">
  <p class="emailInfo goaround">
    Email jgonzalez1604@mymail.lausd.net, ravila0053@mymail.lausd.net, or
    mmvanbaal@gmail.com. Or go to room 229 for more information!!!
  </p>
</div>
{% block javascript %}{% endblock %}
{% endblock %}
